<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schronisko</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
              <ul>
                <li>Hrobacza Łąka (822 m) – szczyt w Grupie Magurki Wilkowickiej w Beskidzie Małym. Znajduje się w głównym grzbiecie tej grupy, między przełęczą Przegibek a Bujakowskim Groniem. Z północno-zachodnich stoków spływają źródłowe cieki potoku Kozówka i na stoku tym znajduje się duży kamieniołom. W kierunku południowo-wschodnim do doliny Soły opada z Chrobaczej Łąki grzbiet oddzielający doliny potoków Żarnówka Mała i Suchy Potok (dopływ Żarnówki Dużej).</li>
                <li>Ze szczytu widać panoramę Beskidu Małego (Żar ze sztucznym zbiornikiem elektrowni szczytowo-pompowej, Kiczerę, Kocierz, Jaworzynę, cały masyw Czupla) i szczyty Beskidu Śląskiego (Skrzyczne, Klimczok, Magura). Przy dobrej przejrzystości powietrza widoczna jest Babia Góra oraz Tatry (głównie Tatry Zachodnie).</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li>Na szczycie stoi oświetlony nocą stalowy krzyż (dawniej na miejscu krzyża stała drewniana wieża triangulacyjna).</li>
                <li>Schronisko na Hrobaczej Łące, obecnie Dom Turystyczno-Rekolekcyjny „Hrobacza Łąka” – prywatne schronisko turystyczne, położone pod szczytem Hrobaczej Łąki w Beskidzie Małym. Obiekt znajduje się w obrębie miejscowości Żarnówka Duża.</li>
                <li>Schronisko posiada bazę noclegową oraz oferuje również możliwość organizowania eventów.</li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12" style="text-align: center;">
              <p>Piesze szlaki turystyczne:</p>
              <p><img alt="szlak turystyczny czerwony" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/POL_Szlak_czerwony.svg/24px-POL_Szlak_czerwony.svg.png" width="24" height="14" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d8/POL_Szlak_czerwony.svg/36px-POL_Szlak_czerwony.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d8/POL_Szlak_czerwony.svg/48px-POL_Szlak_czerwony.svg.png 2x" data-file-width="150" data-file-height="90"> Bielsko-Biała Straconka – Gaiki – Przełęcz u Panienki – Chrobacza Łąka – Zapora Porąbka <br> <span class="glyphicon">&#xe023;</span> Czas przejścia: 4.05 h, ↑ 4.25 h</p>
              <p><img alt="szlak turystyczny żółty" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/POL_Szlak_%C5%BC%C3%B3%C5%82ty.svg/24px-POL_Szlak_%C5%BC%C3%B3%C5%82ty.svg.png" width="24" height="14" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6f/POL_Szlak_%C5%BC%C3%B3%C5%82ty.svg/36px-POL_Szlak_%C5%BC%C3%B3%C5%82ty.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6f/POL_Szlak_%C5%BC%C3%B3%C5%82ty.svg/48px-POL_Szlak_%C5%BC%C3%B3%C5%82ty.svg.png 2x" data-file-width="150" data-file-height="90">Kozy – Przełęcz u Panienki – Chrobacza Łąka – Zapora Porąbka <br> <span class="glyphicon">&#xe023;</span> Czas przejścia: 2.50 h, ↑ 3 h</p>
            </div>
        </div>
    </div>
</section>
